<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        usesCleartextTraffic: da Android 9 il traffico http:// in chiaro e' bloccato di
        default. Lo stream e' su HTTP semplice verso un IP della LAN, quindi va riabilitato.
        Un network_security_config piu' stretto qui non aiuta: le sue regole si esprimono per
        dominio, non per sottorete, e l'IP del PC cambia con il DHCP.
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonitorExtender"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.MonitorExtender.Fullscreen" />

        <activity
            android:name=".WebViewerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.MonitorExtender.Fullscreen" />

    </application>

</manifest>
